@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/ZenDots-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  .customFontText {
    font-family: 'MyCustomFont', sans-serif;
  }